---
layout: home
title: About PT. Surabaya Mediatama
---
<div class="wrapper">
 <div class="inner-wrapper">
  <div id="header-wrapper" class="">
   <header id="header">
    {% include_relative layout/home_menu.html %}
    {% include_relative layout/home_slide.html %}
   </header>
   <div id="main">
    <div class="container">
     <section id="primary" class="content-full-width">
      <div id="post-5" class="post-5 page type-page status-publish hentry">
       {% include_relative layout/home_layout_2.html %}
      </div>
     </section>
    </div>
   </div>
  </div>
  <!-- wrapper di footer.html -->