---
layout: home
---
<div class="wrapper">
 <div class="inner-wrapper">
  <div id="header-wrapper" class="">
   <header id="header">
    {% include_relative layout/home_menu.html %}
    {% include_relative layout/home_slide.html %}
   </header>
   <div id="main">
    <div class="container">
     <section id="primary" class="content-full-width">
      <div id="post-5" class="post-5 page type-page status-publish hentry">
       {% include_relative layout/home_layout_2.html %}
       <div class="vc_row-full-width vc_clearfix"></div>
       <div class="upb_color" data-bg-override="0" data-bg-color="" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="5.1.1" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
       {% include_relative layout/home_team.html %}
       <div class="vc_row-full-width vc_clearfix"></div>
       {% include_relative layout/home_client.html %}
      </div>
     </section>
    </div>
   </div>
  </div>
  <!-- wrapper di footer.html -->