<div class="top-bar dt-sc-skin-highlight dt-sc-dark-bg">
 <div class="container">
  <div class="vc_row wpb_row vc_row-fluid">
   <div class="wpb_column vc_column_container vc_col-sm-6">
    <div class="vc_column-inner ">
     <div class="wpb_wrapper">
      <div class='text-with-icon'><span class='fa fa-envelope'> </span>
       <a title='{{site.info_email}}' target='_blank' href='mailto:{{site.info_email}}'>{{site.info_email}}</a></div>
     </div>
    </div>
   </div>
   <div class="alignright wpb_column vc_column_container vc_col-sm-6">
    <div class="vc_column-inner ">
     <div class="wpb_wrapper">
      <div class='text-with-icon'><span class='zmdi zmdi-phone-in-talk'> </span>
       <a title='Kontak kami' target='_self' href='tel:{{site.info_nomor}}'>{{site.info_nomor}}</a></div>
      <div class='text-with-icon'><i class="fa fa-whatsapp"></i>
       <a title='Whatsapp {{site.title}}' target='_blank' href='whatsapp:{{site.info_whatsapp}}'>{{site.info_whatsapp}}</a></div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div id="main-header-wrapper-sticky-wrapper" class="sticky-wrapper">
 <div id="main-header-wrapper" class="main-header-wrapper">
  <div class="container">
   <div class="main-header">
    <div id="logo"> 
     <a href="{{site.mainurl}}" title="{{site.title}}"> 
      <img class="normal_logo" src="{{site.mainurl}}/{{site.info_logourlpp}}" alt="{{site.title}}" title="{{site.title}}" /> 
      <img class="darkbg_logo" src="{{site.mainurl}}/{{site.info_logourlppwht}}" alt="{{site.title}} | White Logo" title="{{site.title}} | White Logo" /> 
     </a>
    </div>
    <div id="menu-wrapper" class="menu-wrapper ">
     <div class="dt-menu-toggle" id="dt-menu-toggle"> Menu <span class="dt-menu-toggle-icon"></span></div>
     <nav id="main-menu" class="menu-main-menu-container">
      <ul class="menu">
       <li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}">Home</a></li>
       <li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}/services">Services</a></li>
       <li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}/about">About</a></li>
       <li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}/contact">Contact</a></li>
      </ul>
     </nav>
    </div>
   </div>
  </div>
 </div>
</div>