<div class="vc_row wpb_row vc_row-fluid">
 <div class="wpb_column vc_column_container vc_col-sm-12">
  <div class="vc_column-inner " style=" text-align:center; ">
   <div class="wpb_wrapper">
    <h3 style="text-align: center" class="vc_custom_heading vc_custom_1494856703434">{{ page.title }}</h3>
    <div class='dt-sc-small-separator curved-line aligncenter'></div>
    <div class="ult-spacer spacer-5aa66434d09f8" data-id="5aa66434d09f8" data-height="30" data-height-mobile="30" data-height-tab="30" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
   </div>
  </div>
 </div>
</div>