<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
<link rel="stylesheet" href="{{site.mainurl}}/css/herocss.css?ver={{site.stylever}}" />
{% if page.this_page == "home" %}
<link rel="stylesheet" href="{{site.mainurl}}/css/custom-home.css?ver={{site.stylever}}" />
{% else %}
<link rel="stylesheet" href="{{site.mainurl}}/css/custom-all.css?ver={{site.stylever}}" />
{% endif %}
{% if page.this_page == "home" %}
<script type='text/javascript' src='{{site.mainurl}}/js/costum-home.js?ver={{site.stylever}}'></script>
{% else %}
<script type='text/javascript' src='{{site.mainurl}}/js/costum-all.js?ver={{site.stylever}}'></script>
{% endif %}
</body>
</html>