<footer id="footer">
 <div class="footer-widgets dt-sc-dark-bg">
  <div class="container">
   <div class='column dt-sc-one-third first'>
    <aside id="text-4" class="widget widget_text">
     <div class="textwidget"><img src="{{site.mainurl}}/{{site.info_logourlppwht}}" alt="light-logo {{site.title}}" style="width: 50%;">
      <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
      {{site.info_deskripsi}}
      <div class="vc_empty_space" style="height: 16px"><span class="vc_empty_space_inner"></span></div>
      <div class='alignleft  dt-sc-subtitle-text'>STAY CONNECTED</div>
      <ul class='dt-sc-sociable  dt-simple-narrow'>
       <li class="twitter"><a target="_blank" href="{{site.sosmed_twitter}}"></a></li>
       <li class="instagram"><a target="_blank" href="{{site.sosmed_instagram}}"></a></li>
       <li class="facebook"><a target="_blank" href="{{site.sosmed_facebook}}"></a></li>
      </ul>
     </div>
    </aside>
   </div>
   <div class='column dt-sc-one-third '>
    <aside id="text-3" class="widget widget_text">
     <h3 class="widgettitle">Useful Links</h3>
     <div class="textwidget">
      <ul class="split-list no-border no-bullet hvr-push-to-right">
       <li> <a title="Surabaya Ad jasa Agency Iklan One Gateway Surabaya Jawa Timur" href="{{site.mainurl}}/"> <i class="fa fa-angle-right"></i> Home </a></li>
       <li> <a title="Services Surabaya-Ad" href="{{site.mainurl}}/services"> <i class="fa fa-angle-right"></i> Our Services </a></li>
       <li> <a title="About Surabaya-Ad" href="{{site.mainurl}}/about"> <i class="fa fa-angle-right"></i> About </a></li>
       <li> <a title="Contact Surabaya-Ad" href="{{site.mainurl}}/contact"> <i class="fa fa-angle-right"></i> Contact </a></li>
       <li> <a title="Baca buku cepat - wba speed reading" href="https://bacacepat.com"> <i class="fa fa-angle-right"></i> Baca Cepat </a></li>
       <li> <a title="Agen Pasang Iklan Radio Suara Surabaya" href="https://iklanradiosuarasurabaya.com"> 
									<i class="fa fa-angle-right"></i> Pasang Iklan Radio Suara Surabaya </a></li>
       <li> <a title="Agen Pasang Iklan Radio" href="https://iklanradio.com"> 
									<i class="fa fa-angle-right"></i> Pasang Iklan Radio </a></li>
       <li> <a title="Agen Pasang Iklan Google" href="http://iklangoogle.id"> 
									<i class="fa fa-angle-right"></i> Pasang Iklan Google </a></li>
      </ul>
     </div>
    </aside>
   </div>
   <div class='column dt-sc-one-third '>
    <aside id="text-5" class="widget widget_text">
     <h3 class="widgettitle">Kontak kami</h3>
     <div class="textwidget">
      <div class='dt-sc-contact-info  '><span class='fa fa-home'> </span>{{site.info_alamat}}</div>
      <div class='dt-sc-hr-invisible-xsmall '></div>
      <div class='dt-sc-contact-info  '><span class='fa fa-phone'> </span>{{site.info_tel1}}<br>{{site.info_tel2}}</div>
      <div class='dt-sc-hr-invisible-xsmall '></div>
      <div class='dt-sc-contact-info  '><span class='fa fa-envelope'> </span><a href="mailto:{{site.info_email}}"> {{site.info_email}}</a></div>
						<a title="Official Google Partner Surabaya - Surabaya Ad" href="{{site.mainurl}}/services/official-google-partner">
							<img src="{{site.mainurl}}/img/google-partner.png" style="height: 100px;" alt="Official Google Partner Surabaya" />
						</a>
     </div>
    </aside>
   </div>
  </div>
 </div>
 <div class="footer-copyright dt-sc-dark-bg">
  <div class="container">
   <div class="column dt-sc-one-half first ">Copyright &copy; 2018 - <a href="">Surabaya Ad</a>
    <!--
    <ul id="menu-footer-menu" class="menu-links ">
     <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="{{site.main_url}}">Privacy Policy</a></li>
     <li id="menu-item-40" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-40"><a href="{{site.main_url}}">Terms &#038; Conditions</a></li>
    </ul>
    -->
   </div>
  </div>
 </div>
</footer>
</div>
</div>
<script>
	(function (body) {
	'use strict';
	body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
	})(document.body);</script>
<script type='text/javascript'>
	/*  */
	var tribe_l10n_datatables = {
	"aria": {
	"sort_ascending": ": activate to sort column ascending",
		"sort_descending": ": activate to sort column descending"
	},
		"length_menu": "Show _MENU_ entries",
		"empty_table": "No data available in table",
		"info": "Showing _START_ to _END_ of _TOTAL_ entries",
		"info_empty": "Showing 0 to 0 of 0 entries",
		"info_filtered": "(filtered from _MAX_ total entries)",
		"zero_records": "No matching records found",
		"search": "Search:",
		"all_selected_text": "All items on this page were selected. ",
		"select_all_link": "Select all pages",
		"clear_selection": "Clear Selection.",
		"pagination": {
		"all": "All",
			"next": "Next",
			"previous": "Previous"
		},
		"select": {
		"rows": {
		"0": "",
			"_": ": Selected %d rows",
			"1": ": Selected 1 row"
		}
		},
		"datepicker": {
		"dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
			"dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
			"dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
			"monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			"monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			"nextText": "Next",
			"prevText": "Prev",
			"currentText": "Today",
			"closeText": "Done"
		}
	}; /*  */
</script>
<script type="text/javascript">
	function revslider_showDoubleJqueryError(sliderID) {
	var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
	errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
	errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
	errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
	errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
	jQuery(sliderID).show().html(errorMessage);
	}
</script>
<link rel='stylesheet' id='vc_google_fonts_montserratregular700-css' href='//fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700&amp;ver=4.9.3' type='text/css' media='all' />
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/LayerSlider/static/layerslider/js/greensock.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-includes/js/jquery/jquery.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-includes/js/jquery/jquery-migrate.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jquery.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.transitions.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>       
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js'></script>       
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate-params.min.js'></script>       
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/custom.min.js'></script>       
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/jquery-appear.min.js'></script>       
<script type='text/javascript' src='{{site.mainurl}}/wp-content/themes/src/framework/js/modernizr.custom.js'></script>       
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tabs.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tipTip.minified.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.inview.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.animateNumber.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.donutchart.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/slick.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/designthemes-core-features/shortcodes/js/shortcodes.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/visualizer/js/lib/clipboardjs/clipboard.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/themes/src/framework/js/jquery.ui.totop.min.js'></script>
<script type='text/javascript'>var dttheme_urls = {"stickynav":"enable", "stickyele":".main-header-wrapper", 'loadingbar':"enable"};</script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/themes/src/framework/js/jquery.plugins.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/themes/src/framework/js/jquery.visualNav.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/themes/src/framework/js/pace.min.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-content/themes/src/framework/js/custom.js'></script>
<script type='text/javascript' src='{{site.mainurl}}/wp-includes/js/wp-embed.min.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'></script>