<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1504782187535 vc_row-has-fill">
 <div class="wpb_column vc_column_container vc_col-sm-12">
  <div class="vc_column-inner ">
   <div class="wpb_wrapper">
    <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="bounceInDown" data-animation-delay="1" data-animation-duration="1" data-animation-iteration="1" style="opacity:0;" data-opacity_start_effect="">
     <div class='aligncenter  dt-sc-subtitle-text'></div>
     <div class="ult-spacer spacer-5a9fca6855936" data-id="5a9fca6855936" data-height="10" data-height-mobile="10" data-height-tab="10" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
     <h2 style="font-size: 60px;line-height: 50px;text-align: center" class="vc_custom_heading"><strong>Solid Team</strong></h2>
    </div>
    <div class="ult-spacer spacer-5a9fca68568f8" data-id="5a9fca68568f8" data-height="90" data-height-mobile="60" data-height-tab="75" data-height-tab-portrait="75" data-height-mobile-landscape="60" style="clear:both;display:block;"></div>
    {% assign site_team=site.team_1 %}
    {% assign col=3 %}
    {% include_relative layout/home_team_each_row.html %}
    <div class="ult-spacer spacer-5a9fca68568f8" data-id="5a9fca68568f8" data-height="90" data-height-mobile="60" data-height-tab="75" data-height-tab-portrait="75" data-height-mobile-landscape="60" style="clear:both;display:block;"></div>
    {% assign site_team=site.team_2 %}
    {% assign col=2 %}
    {% include_relative layout/home_team_each_row.html %}
    <div class="ult-spacer spacer-5a9fca68568f8" data-id="5a9fca68568f8" data-height="90" data-height-mobile="60" data-height-tab="75" data-height-tab-portrait="75" data-height-mobile-landscape="60" style="clear:both;display:block;"></div>
    {% assign site_team=site.team_3 %}
    {% include_relative layout/home_team_each_row.html %}
    <div class="ult-spacer spacer-5a9fca685ca2f" data-id="5a9fca685ca2f" data-height="135" data-height-mobile="90" data-height-tab="120" data-height-tab-portrait="120" data-height-mobile-landscape="90" style="clear:both;display:block;"></div>
   </div>
  </div>
 </div>
</div>