{% if page.this_page == "home" %}
<div class="top-bar dt-sc-skin-highlight" style="background: transparent;">
	{% else %}
	<div class="top-bar dt-sc-skin-highlight">
		{% endif %}
		<div class="container">
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class='text-with-icon'><span class='fa fa-envelope'> </span>
								<a title='{{site.info_email}}' target='_blank' href='mailto:{{site.info_email}}'>{{site.info_email}}</a></div>
						</div>
					</div>
				</div>
				<div class="alignright wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class='text-with-icon'><span class='zmdi zmdi-phone-in-talk'> </span>
								<a title='Kontak kami' target='_self' href='tel:{{site.info_nomor}}'>{{site.info_nomor}}</a></div>
							<div class='text-with-icon'><i class="fa fa-whatsapp"></i>
								<a title='Whatsapp {{site.title}}' target='_blank' href='https://api.whatsapp.com/send?phone={{site.info_whatsapp}}'>{{site.info_whatsapp}}</a></div>
							<div class='text-with-icon'><i class="fa fa-whatsapp"></i>
								<a title='Whatsapp {{site.title}}' target='_blank' href='https://api.whatsapp.com/send?phone={{site.info_whatsapp2}}'>{{site.info_whatsapp2}}</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="main-header-wrapper-sticky-wrapper" class="sticky-wrapper">
		<div id="main-header-wrapper" class="main-header-wrapper bgtrp">
			<div class="container">
				<div class="main-header">
					<div id="logo"> 
						<a href="{{site.mainurl}}" title="{{site.title}}"> 
							{% if page.this_page == "home" %}
							<img class="normal_logo" src="{{site.mainurl}}/img/logo/putih/logo-sby-ad-putih-500.png" alt="{{site.title}}" title="{{site.title}}" /> 
							<img class="darkbg_logo" src="{{site.mainurl}}/img/logo/putih/logo-sby-ad-putih-500.png" alt="{{site.title}} | White Logo" title="{{site.title}} | White Logo" /> 
							{% else %}
							<img class="normal_logo" src="{{site.mainurl}}/img/logo/hitam/logo-sby-ad-500.png" alt="{{site.title}}" title="{{site.title}}" /> 
							<img class="darkbg_logo" src="{{site.mainurl}}/img/logo/putih/logo-sby-ad-putih-500.png" alt="{{site.title}} | White Logo" title="{{site.title}} | White Logo" /> 
							{% endif %}
						</a>
					</div>
					<div id="menu-wrapper" class="menu-wrapper ">
						<div class="dt-menu-toggle" id="dt-menu-toggle"> 
							<!-- MENU - asli -->
							<img class="normal_logo" src="{{site.mainurl}}/img/logo/putih/logo-sby-ad-putih-300.png" alt="{{site.title}} | White Logo" title="{{site.title}} | White Logo" /> 
							<span class="dt-menu-toggle-icon"></span>
						</div>
						<nav id="main-menu" class="menu-main-menu-container">
							<ul class="menu">
								<li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-5 menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}">Home</a></li>
								<li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-simple-parent"><a href="{{site.mainurl}}/services">Services</a>
									<ul class="sub-menu ">
										<li id="menu-item-7433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1">
											<a href="{{site.mainurl}}/services/official-google-partner">Official Google Partner</a></li>
										<li id="menu-item-7434" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1">
											<a href="https://iklanradio.com" title="Iklan Radio">Iklan Radio</a></li>
										<li id="menu-item-7435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1">
											<a href="https://iklanradiosuarasurabaya.com" title="Iklan Radio Suara Surabaya">Iklan Radio Suara Surabaya</a></li>
										<li id="menu-item-7436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1">
											<a href="http://iklangoogle.id" title="Iklan Google">Iklan Google</a></li>
									</ul> <a class="dt-menu-expand" href="javascript:void(0)">+</a>
								</li>
								<li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-5 menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}/about">About</a></li>
								<li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-5 menu-item-has-children menu-item-depth-0 menu-links-with-arrow single menu-item-megamenu-parent  megamenu-4-columns-group"><a href="{{site.mainurl}}/contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>