<div class="sydney-hero-area">

 <div id="slideshow" class="header-slider" data-speed="10000">
  <div class="slides-container">
   <div class="slide-item" style="background-image:url({{site.mainurl}}/img/ss-2.jpg);">
    <div class="slide-inner">
     <div class="contain animated fadeInRightBig text-slider">
						<p class="subtitle">Welcome to</p>
      <h2 class="maintitle">SURABAYA AD </h2>
      <p class="subtitle">Media Campaign Specialist</p>
     </div>
				</div>
   </div>
			<div class="slide-item" style="background-image:url({{site.mainurl}}/img/ss-3.jpg);">
    <div class="slide-inner">
     <div class="contain animated fadeInRightBig text-slider">
						<p class="subtitle">Surabaya AD</p>
      <h2 class="maintitle">Official Google Partner</h2>
     </div>
					<a href="{{site.mainurl}}/services/official-google-partner" class="roll-button button-slider">Why Digital Marketing</a> 
				</div>
   </div>
  </div>
 </div>
</div>