<div class="vc_row wpb_row vc_row-fluid" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" >
 <div class="wpb_column vc_column_container vc_col-sm-12">
  <div class="vc_column-inner ">
   <div class="wpb_wrapper">
    <div class="ult-spacer spacer-5aa6641c71741" data-id="5aa6641c71741" data-height="60" data-height-mobile="45" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="45" style="clear:both;display:block;"></div>
    <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="bounceInDown" data-animation-delay="1" data-animation-duration="1" data-animation-iteration="1" style="opacity:0;" data-opacity_start_effect="">
     <h4 style="font-size: 36px;text-align: center" class="vc_custom_heading">Our <strong>Clients</strong></h4>
    </div>
    <div class="ult-spacer spacer-5aa6641c719c8" data-id="5aa6641c719c8" data-height="20" data-height-mobile="20" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
				<div class="row">
					{% for i in (0..8) %}
					{% assign df = site.client[i] | split: "|" %}
					{% assign ttl = df[1] | capitalize %}
					<div class="col-xs">
						<div style="height: 200px; display:block; margin:auto;text-align:center;">
							<img align="middle" style="max-height: 180px;" src="{{site.mainurl}}/img/logo/logocl/{{df[0]}}?ver={{site.stylever}}" class="img-responsive" />
						</div>
						<p style="color: #000; text-align: center; font-size: 10px; text-transform: uppercase; font-weight: bold;">{{ ttl }}</p>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					{% for i in (9..17) %}
					{% assign df = site.client[i] | split: "|" %}
					{% assign ttl = df[1] | capitalize %}
					<div class="col-xs">
						<div style="height: 200px; display:block; margin:auto;text-align:center;">
							<img align="middle" style="max-height: 180px;" src="{{site.mainurl}}/img/logo/logocl/{{df[0]}}?ver={{site.stylever}}" class="img-responsive" />
						</div>
						<p style="color: #000; text-align: center; font-size: 10px; text-transform: uppercase; font-weight: bold;">{{ ttl }}</p>
					</div>
					{% endfor %}
				</div>
    <div class="ult-spacer spacer-5aa6641c748fa" data-id="5aa6641c748fa" data-height="60" data-height-mobile="45" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="45" style="clear:both;display:block;"></div>
   </div>
  </div>
 </div>
</div>