<script>
 window.intergramId = "272243301";
 window.intergramCustomizations = {
  titleClosed: 'Chat dengan kami langsung',
  titleOpen: 'Tutup Chat',
  introMessage: 'Halo Selamat datang di PT. Surabaya Mediatama',
  autoResponse: 'Terima kasih sudah menghubungi PT. Surabaya Mediatama, Silahkan tanyakan pertanyaan anda, customer akan menjawab pertanyaan anda sesaat lagi.',
  autoNoResponse: 'Jika belum ada jawaban dari customer service kami silahkan email ke {{site.info_email}} atau whatsapp {{site.info_whatsapp}}',
  mainColor: "#E91E63", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
  alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
 };
 jQuery("#slideshow").length && jQuery("#slideshow").superslides({
  play: jQuery("#slideshow").data("speed"),
		// animation: "fade",
		animation: "slide",
  pagination: !1
 })
</script>