{% include_relative _layouts/head.html %}
{% include_relative _layouts/head-body.html %}
<div class="wrapper">
 <div class="inner-wrapper">
  <div id="header-wrapper" class="">
			{% if page.this_page == "home" %}
   <header id="header" style="background: transparent; z-index: 9999;">
				{% include_relative layout/home_menu.html %}
			</header>
			{% else %}
   <header id="header">
				{% include_relative layout/home_menu.html %}
			</header>			
			{% endif %}
			{% if page.this_page == "home" %}
			{% include_relative layout/home_slide_superslide.html %}
			{% endif %}
			<div id="main">
				<div class="container">
					<section id="primary" class="content-full-width">
						<div id="post-5" class="post-5 page type-page status-publish hentry">
							{{ content }}
						</div>
					</section>
				</div>
			</div>
  </div>
  {% include_relative _layouts/footer.html %}